<%if @estudante.errors.any? %>
  <ul>
    <%@estudante.errors.full_messages.each do |msg|%>
      <li><%=msg%></li>
    <%end%>
  </ul>
<%end%>
<%= form_for @estudante do |f| -%>
    <%= f.text_field :nome%>
    <%= f.text_field :idade%>
    <%= f.submit "salvar"%>
    
<% end -%>